body{
    color: white;
    background-color: rgba(133, 106, 106, 0.705);
}
aside{
    width:200px;
    height: 100vh;  
    background-color: azure;
    display:flex;
    flex-direction: column;
}
.links li{
    text-decoration: none;
    list-style: none;
}
a{
    color: #2b2b2b;
    list-style: none;
    text-decoration: none;
}
a:hover{
    color: #2b2bb2;
    transition: 0.3s;
}
img{
    width: 75px;
}
.links{
    flex: 1;
}
.avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav > img{
    width:150px;
}
p{
    color: #2b2bb2;
}